.back-to-top {
  background: #f5f5f5;
  border-radius: 2px;
  bottom: 80px;
  color: #444;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  opacity: 0;
  outline: 0;
  position: fixed;
  right: 40px;
  text-align: center;
  transition: opacity .5s;
  width: 30px;
  z-index: 9999;

  &:hover {
    background: #e9ebec;
  }

  &.back-to-top-show {
    opacity: 1;
  }
}
