// colors
$gray-light: #dddddd;
$gray-medium: #888888;
$blue: #144078;

// measurements
$image-dimension: 240px;
$margin-top: 20px;

.pokemon-details-wrapper {
  min-height: 100vh;
  text-align: center;

  &.bug {
    background-color: #bbaa3b;
    .pokemon-details-container__banner { background-image: url(images/bug.png) }
  }

  &.dark {
    background-color: #070f2d;
    .pokemon-details-container__banner { background-image: url(images/dark.png); background-position-y: -190px; }
  }

  &.dragon {
    background-color: #486642;
    .pokemon-details-container__banner { background-image: url(images/dragon.png) }
  }
  
  &.electric {
    background-color: #1a385f;
    .pokemon-details-container__banner { background-image: url(images/electric.png) }
  }

  &.fairy {
    background-color: #8875d8;
    .pokemon-details-container__banner { background-image: url(images/fairy.png) }
  }

  &.fighting {
    background-color: #817056;
    .pokemon-details-container__banner { background-image: url(images/fighting.png) }
  }

  &.fire {
    background-color: #572d3c;
    .pokemon-details-container__banner { background-image: url(images/fire.png); background-position-y: -120px }
  }

  &.flying {
    background-color: #5596ef;
    .pokemon-details-container__banner { background-image: url(images/flying.png) }
  }

  &.ghost {
    background-color: #00335d;
    .pokemon-details-container__banner { background-image: url(images/ghost.png) }
  }

  &.grass {
    background-color: #a5ca50;
    .pokemon-details-container__banner { background-image: url(images/grass.png) }
  }

  &.ground {
    background-color: #b99a76;
    .pokemon-details-container__banner { background-image: url(images/ground.png) }
  }

  &.ice {
    background-color: #496883;
    .pokemon-details-container__banner { background-image: url(images/ice.png) }
  }

  &.normal {
    background-color: #d1c39c;
    .pokemon-details-container__banner { background-image: url(images/normal.png) }
  }

  &.poison {
    background-color: #161452;
    .pokemon-details-container__banner { background-image: url(images/poison.png) }
  }

  &.psychic {
    background-color: #221ab4;
    .pokemon-details-container__banner { background-image: url(images/psychic.png) }
  }

  &.rock {
    background-color: #777f8e;
    .pokemon-details-container__banner { background-image: url(images/rock.png) }
  }

  &.steel {
    background-color: #15262e;
    .pokemon-details-container__banner { background-image: url(images/steel.png) }
  }

  &.water {
    background-color: #38849f;
    .pokemon-details-container__banner { background-image: url(images/water.png); background-position-y: -80px }
  }

  .pokemon-details-container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 40px;
    margin: 0 auto;
    width: 630px;

    .pokemon-details-container__banner {
      background-repeat: no-repeat;
      background-size: cover;
      height: 360px;
    }
  
    .pokemon-image {
      height: $image-dimension;
      margin: -180px auto 0;
      width: $image-dimension;

      img {
        height: auto;
        width: $image-dimension;
      }
    }
    
    .pokemon-name {
      font-size: 48px;
      color: $blue;
      line-height: 1em;
      margin-top: $margin-top;
      text-transform: capitalize;
    }

    .pokemon-stats {
      background-color: $gray-light;

      .pokemon-stats__data-row {
        color: $blue;
        display: grid;
        font-size: 32px;
        grid-gap: 1px;
        grid-template-columns: 3fr 4fr 3fr;
        height: 40px;
      }
  
      .pokemon-stats__label-row {
        color: $gray-medium;
        display: grid;
        font-size: 16px;
        grid-gap: 1px;
        grid-template-columns: 3fr 4fr 3fr;
        text-transform: uppercase;
      }

      .type-icon {
        display: inline-block;
        width: 40px;
        height: 40px;

        &.secondary {
          margin-left: 24px;
        }

        &.bug {background-color: #bbaa3b}      
        &.dark {background-color: #070f2d}      
        &.dragon {background-color: #486642}        
        &.electric {background-color: #1a385f}      
        &.fairy {background-color: #8875d8}      
        &.fighting {background-color: #817056}      
        &.fire {background-color: #572d3c}      
        &.flying {background-color: #5596ef}      
        &.ghost {background-color: #00335d}      
        &.grass {background-color: #a5ca50}      
        &.ground {background-color: #b99a76}      
        &.ice {background-color: #496883}      
        &.normal {background-color: #d1c39c}      
        &.poison {background-color: #161452}      
        &.psychic {background-color: #221ab4}      
        &.rock {background-color: #777f8e}      
        &.steel {background-color: #15262e}      
        &.water {background-color: #38849f}
      }

      .type-divider {
        display: inline-block;
        margin: 0 5px;
      }       
  
      .stats-weight,
      .stats-type,
      .stats-height {
        background-color: white;
      }
    }
  }
}