.back-button {
  background: url(./images/back-button-arrow.png) no-repeat 0 0;
  border: 0;
  cursor: pointer;
  height: 50px;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: 50px;

  span {
    display: none;
  }
}