.card {
  .card-image {
    height: 110px;
    background: #F6F7F2;
    border: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-text {
    font-size: 16px;
    color: #14386D;
  }

  &:hover {
    cursor: pointer;

    .card-image {
      border-color: #14386D;
    }
  }

  @media screen and (max-width: 960px) {
    margin: 10px 0;
    width: 16%;
  }

  @media screen and (max-width: 480px) {
    width: 25%;
  }
}