.homepage {
}

.search {
  background-color: black;
  display: flex;
  justify-content: center;

  .search-box {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 960px;
  }

  .search-field {
    -webkit-appearance: none;
    background-color: white;
    border: none;
    font-size: 14px;
    height: 34px;
    line-height: 30px;
    margin: 4px 0;
    outline: none;
    padding: 10px;
    width: 300px;
  }
}



